<nav class="navbar navbar-light border bg-bg">
    <div class="container-fluid ">
      <a class="navbar-brand d-flex align-items-center text-dark" href="#">
        <img src="https://icon-library.com/images/icon-admin/icon-admin-20.jpg" alt="" width="50" height="50" class="d-inline-block align-text-top rounded-circle mx-3">
        Admin Panel
      </a>
      <div class="mx-3">
          <button onclick="handleLogin()" type="button" class="btn btn-info mx-1">Sign-In</button>
          <button onclick="handleLogin()"  type="button" class="btn btn-outline-info mx-1">Sign-Up</button>
      </div>
    </div>
  </nav>
