<h1>hello {{data == 'shaileshh gabu'}} user</h1>
<h1>hello {{myFun2()}} user</h1>
<button (click)="getValue(box.value)">click me</button>
<input type="text" #box placeholder="enter value" [disabled] = disable value="gabu"/>
<p>show this input value : {{inputVal}}</p>
<br>
<button (click)="counter('minus')">--</button>
<p>{{count}}</p>
<button (click)="counter('add')">++</button>

<!-- if else condition -->

<span *ngIf="showComponent; then cTrue else cFalse"></span>
<ng-template #cTrue>
    <h1 >true condition</h1>
</ng-template>
<ng-template #cFalse>
    <h1 >false condition</h1>
</ng-template>

<!-- multiple condition -->

<ng-template [ngIf] = "color === 'red'">
    <h1 [style.color]=color>{{color}} fdcolor</h1>
</ng-template>
<ng-template [ngIf] = "color === 'green'">
    <h1 style="color:green">green color</h1>
</ng-template>
<ng-template [ngIf] = "color === 'blue'">
    <h1 style="color:blue">blue color</h1>
</ng-template>
<ng-template [ngIf] = "color === 'yellow'">
    <h1 style="color:yellow">yellow color</h1>
</ng-template>
<ng-template [ngIf] = "color === 'black'">
    <h1 style="color:black">black color</h1>
</ng-template>


<!-- switch case  -->
   

<div [ngSwitch]="color">
    <h1 *ngSwitchCase ="'red'" style="color: red;"> switch red color</h1>
    <h1 *ngSwitchCase ="'green'" style="color: green;"> switch green color</h1>
    <h1 *ngSwitchCase ="'black'" style="color: black;"> switch black color</h1>
    <h1 *ngSwitchCase ="'yellow'" style="color: yellow;"> switch yellow color</h1>
    <h1 *ngSwitchCase ="'blue'" style="color: blue;"> switch blue color</h1>
    <h1 *ngSwitchDefault> no match color</h1>
</div>

<!-- for loops -->

<h3 *ngFor="let item of user">{{item}}</h3>
<br>
<h3 *ngFor="let item of userDetails">{{item.name}} -- {{item.mail}} -- {{item.mobile}}</h3>

<!-- nested loop -->
<ul *ngFor='let user of userData'>
    <li>name : {{user.name}}</li>
    <li>mobile : {{user.mobile}}</li>
    <li>email : {{user.mail}}</li>
    <li>social media accounts  : </li>
    <ul *ngFor="let accounts of user.socialAccount">
        <li>{{accounts}}</li>
    </ul>
</ul>

<div style="width: 100%;" [style.backgroundColor]="boxBgColor"><h1 [style.color]=titleBgColor>dynamic background</h1>
    ,<button (click)="changeColor()" (dblclick)="dblChangeColor()"> change color</button>
</div>

<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
<input type="text" ngModule name="user" placeholder="enter name"/><br><br>
<input type="text" ngModule name="password" placeholder="enter password"/><br><br>
<input type="text" ngModule name="email" placeholder="enter email"/><br><br>
<br><br>
<button>register</button>
</form>








<app-home></app-home>